h1 {
   text-align: center;
   float: none;
   clear: none;
}
div {
   text-align: center;
   float: none;
   clear: none;
}
body {
   height: 100vh;
   margin: 0;
   background: linear-gradient(180deg, rgb(246,239,223) 80%, rgb(2,76,115) 20%);
   float: none;
   clear: none;
}
button {
   width: 150px; 
   height: 50px;
   border: 2px solid #17C3B2;
   position: relative;
   overflow: hidden;
   background-color: transparent;
   text-align: center;
   text-transform: uppercase;
   font-size: 16px;
   transition: .3s;
   z-index: 1;
   font-family: inherit;
   color: #17C3B2;
   border-radius: 0.5em;
   background: #fff;
   float: none;
   clear: none;
}
button::before {
   content: '';
   width: 0;
   height: 300%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(45deg);
   background: #17C3B2;
   transition: .5s ease;
   display: block;
   z-index: -1;
}
button:hover::before {
   width: 105%;
}
button:hover {
   color: #111;
}
#btn_rest {
   color: #2196F3;
   border: 2px solid #2196F3;
}
#btn_rest::before {
   background: #2196F3;
}
#btn_rest:hover {
   color: #111;
}
#btn_map {
   color: #FBC02D;
   border: 2px solid #FBC02D;
}
#btn_map::before {
   background: #FBC02D;
}
#btn_map:hover {
   color: #111;
}
#map {
   width:500px;
   height:400px;
   margin: 20px auto;
}
#box {
   margin: 40px 0 0 0px;
}
#search_loc{
   width: 15em;
   height: 3.5em;
   background-color: #F3F3F3;
   border: 3px solid #FBC02D;
   border-radius: 0.5em;
}
#search{
   width: 4.0em;
   height: 3.5em;
   background-color: #fff;
   border: 3px solid #FBC02D;
   border-radius: 0.5em;
}
#search:hover {
   background-color: #FBC02D;
   border: 3px solid black;
}
#rest_loc{
   width: 15em;
   height: 3.5em;
   background-color: #F3F3F3;
   border: 3px solid #2196F3;
   border-radius: 0.5em;
}
#park_loc{
   width: 15em;
   height: 3.5em;
   background-color: #F3F3F3;
   border: 3px solid #17C3B2;
   border-radius: 0.5em;
}
form {
   height:50px;
   float: none;
   clear: none;
}
input {
   text-align: center;
   float: none;
   clear: none;
}
select {
   text-align: center;
   float: none;
   clear: none;
}
#menu {           
   height: 30px;
}
#menu ul li {       
   margin: auto;     
   list-style: none;
   color: white;    
   background-color: rgb(246,239,223);
   float: left;
   clear:none;       
   line-height: 50px;         
   text-align: center;        
}
#menu .menulink {                  
   text-decoration:none;      
   color: lightslategray;              
   display: block;             
   width: 150px;               
   font-size: 15px;            
   font-weight: bold;          
   font-family: "Trebuchet MS", Dotum, Arial;
}
#menu .menulink:hover {    
   color: #4d4d4d;
}
#menu .code{
   float:right
}

footer {
	width: 100%;
	height: 110px;
	bottom: 0px;
	position: absolute;
   color : lightslategray;
   padding: 0 0 0 5%;
   font-size: medium;
   float: none;
   clear: none;
}
a[target="_blank"] {
   color : lightslategray;
}

@media (max-width: 900px) {
   h1 {
      font-size: x-large;
      float: none;
      clear: none;
   }
   button {
      width: 75px; 
      height: 25px;
      float: none;
      clear: none;
   }
   footer {
      width: 50%;
      height: 55px;
      padding: 0 0 7.5% 5%;
      font-size: small;
      float: none;
      clear: none;
   }
   #menu ul li {         
      line-height: 25px;               
   }
   #menu .menulink {                            
      width: 75px;               
      font-size: 7px;            
   }
   #map {
      width:250px;
      height:200px;
      margin: 20px auto;
   }
}